{% extends "project/base.html"%}
{% block content%}
  <h1>About Page</h1>
  <p>Hawk Swap is an online item swapping website created by the students of IIT for the students of IIT. Anything you no longer have use for can be listed on this site and you might be able to find some takers among your fellow students! Users can also post ads for items they are on the market for, to see if someone might have something to offer.</p>
  <p>Hawk Swap is open to all current IIT students, alumni, faculty and staff. A valid Hawk email must be used to sign up.</p>
  <ul>
    <li>No spam or double posts – a post may be repeated up to two times if 15 days have passed since the original posting.</li>
    <li>No racism, sexism, or discrimination of any kind will be tolerated. Any posts, links, images or comments attacking, abusing or offending an individual will be immediately removed, and the poster will be investigated and banned.</li>
    <li>No doxxing - revealing anyone’s personal information without their consent will result in a ban.</li>
    <li>No trolling - abusing this website’s functions will result in at least an infraction and up to a ban.</li>
    <li>Please be descriptive in your posts – the more users know about the product the more willing they will be to buy it.</li>
    <li>Any posts that violate our school’s integrity and academic honesty policies will be removed, and the poster will be investigated.</li>
  </ul>
  {% endblock content %}