{% extends "project/base.html"%}
{% block content%}
  <h1>About Page</h1>
  <p>Hawk Swap is an online item swapping website created by the students of IIT for the students of IIT. Anything you no longer have use for can be listed on this site and you might be able to find some takers among your fellow students! Users can also post ads for items they are on the market for, to see if someone might have something to offer.</p>
  <p>Hawk Swap is open to all current IIT students, alumni, faculty and staff. A valid Hawk email must be used to sign up.</p>
{% endblock content %}